VITE_SUPABASE_URL=https://vmupvsjcsklqoetowjdj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtdXB2c2pjc2tscW9ldG93amRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MTEwODAsImV4cCI6MjA5NTk4NzA4MH0.bEDe2xjkzsSrMknU3EmX9xn2g-UCnQV4NvucC5mnV7A